* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--width: 1200px;

	/* bg text color */
	--primary-bg-color: #0d263b;
	--secondary-bg-color: #f5f7fc;

	/* text color */
	--primary-text-color: #0d263b;
	--secondary-text-color: #696969;
	--text-white: #fff;
}

/* Fonts */
@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
		url('./fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('./fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
		url('./fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
		url('./fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Common styles */

body {
	font-family: 'Montserrat', sans-serif;
}

.to-uppercase {
	text-transform: uppercase;
}

.to-center {
	text-align: center;
}

.section-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.02em;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}

.section-dscr {
	line-height: 24px;
	color: var(--secondary-text-color);
}

.filter-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--primary-text-color);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* noCopy */
.nocopy {
	--webkit-touch-callout: none; /* iOS Safari */
	--webkit-user-select: none; /* Safari */
	--khtml-user-select: none; /* Konqueror HTML */
	--moz-user-select: none; /* Old versions of Firefox */
	--ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

/* Popover styles */
.ant-popover-inner-content {
	padding: 0;
}

.sc-gKXOVf {
	padding: 30px 30px 0 30px;
}

.sc-iBkjds,
.sc-ftvSup {
	padding: 0 30px;
}

.sc-iqcoie {
	background: #f6f8f9;
	border-radius: 0px 0px 5px 5px;
	padding: 20px 30px;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn {
	display: none;
}

.alice-carousel__stage-item {
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }